%card-gallery {
    position: relative;
    height: 290px;
    width: 100%;
    max-width: 290px;
    margin: 15px auto 15px auto;
    background-size: cover; 
    &:hover > div{
        transform: translateY(0);
        opacity: 1;
        position: absolute;
        background: rgba(0,0,0,0.6);
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}